extends layout

block css
  link(rel='stylesheet', href='/static/css/main.min.css')

block content
  #loading-div.ui.active.dimmer
    .ui.huge.text.loader
      | Fetching earthquake data...

  #earthquakes.ui.stackable.grid
      .three.wide.fitted.column

          form.ui.form#filter-form
            .field
              label Magnitude
              .two.fields
                .field
                  input(type="text", placeholder="Min", id="filter-magnitude-min")
                .field
                  input(type="text", placeholder="Max", id="filter-magnitude-max")

            .field
              label Intensity
              .two.fields
                .field
                  input(type="text", placeholder="Min", id="filter-intensity-min")
                .field
                  input(type="text", placeholder="Max", id="filter-intensity-max")

            button.ui.button(type="submit") Submit

            hr
            div#count-div
      .thirteen.wide.fitted.column
          #main-map


block js
  script(src='/static/js/clusters.min.js')
