doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/css/vendor.min.css')
    link(rel='stylesheet', href='/static/css/main.min.css')
  body
    #main-map

  script(src='/static/js/vendor.min.js')
  script(src='/static/js/main.min.js')

