doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel='stylesheet', href='/static/css/vendor.min.css')
    link(rel='stylesheet', href='/static/css/main.min.css')
    block css
  body
    block content

  script(src='/static/js/vendor.min.js')
  block js

