extends layout

block css
  link(rel='stylesheet', href='/static/css/timelapse.min.css')

  

block content
  #loading-div.ui.active.dimmer
    .ui.huge.text.loader
      | Fetching earthquake data...

  svg(width="100%" height="500")
    text(class="date-text" x="35" y="445" font-family="Verdana" font-size="30" fill="#144955")
    <g class="legend" transform="translate(-36,-44)">
      <rect width="18" height="18" style="fill: rgb(57, 59, 121); stroke: rgb(57, 59, 121);"></rect>
      <text x="22" y="14">Abulia</text>
    </g>

block js
  script(src='https://d3js.org/d3.v4.min.js')
  script(src='https://unpkg.com/topojson-client@3')
  script(src="/static/js/timelapse.min.js")